export HOST='vpn.sng01.softlayer.com'
export USER='xxxx'
export PASSWD='xxxx'
export METHOD=radius

cat <<EOF > /etc/systemd/system/MotionPro.service
[Unit]
Description= MotionPro
After=network.target
After=network-online.target

[Service]
Restart=always
ExecStart=/opt/MotionPro/vpn_cmdline --method $METHOD -h $HOST -u '$USER' -p '$PASSWD' -c inf --loglevel warn

[Install]
WantedBy=multi-user.target
EOF

systemctl daemon-reload
systemctl enable MotionPro.service
